<h1>Edit Product</h1>

{{!-- products.item --}}
<form action="/action_page.php">
  Name: <input type="text" name="name" value="{{products.item.name}}"><p>
  Price: <input type="text" name="price" value="{{products.item.price}}"><p>
  Inventory: <input type="text" name="inventory" value="{{products.item.inventory}}"><p>

  <input type="submit" value="Submit">
</form> 