<h1>Add Product</h1>

{{!-- products.item --}}
<form action="/products/new" method="put">
  Name: <input type="text" name="name" value=""><p>
  Price: <input type="text" name="price" value=""><p>
  Inventory: <input type="text" name="inventory" value=""><p>

  <input type="submit" value="Submit">
</form> 