<h1>Product Information</h1>

{{#each data}}
<br>ID: {{{id}}}
<br>Name: {{name}}
<br>Price: {{price}}
<br>Inventory: {{inventory}}
{{/each}}

<p><input type = "submit" value="EDIT"></p>

{{!--       <form action="/contact" method="POST">
        <input name="user" type="text">
        <button>submit</button>
      </form> --}}