{{!-- this page is the home page --}}
<h1>Welcome to Dash!</h1>

<form action="" method="get">
  <input type="submit" formaction="/products" value="PRODUCTS">
  <input type="submit" formaction="/articles" value="ARTICLES">
</form>