<!-- this page is the home or '/' page -->
<h1>Welcome to Dash!</h1>

<form action="" method="get">
  <button type="submit" formaction="/products">Products</button>
  <button type="submit" formaction="/articles">Articles</button>
</form>