{{#if products}}
  
  {{#if products.list}}

    {{> listProducts}}

  {{else if products.new}}

    {{> new}}

  {{else if products.item}}

    {{> product}}

    {{#if products.edit}}
      {{> edit}}
    {{/if}}

  {{/if}}

{{else if articles}}
  <h1>Articles</h1>

  {{> listArticles}}
{{/if}}