<h1>Article Information</h1>

{{#each data}}
  
  <br>Title: {{{title}}}
  <br>Author: {{author}}
  <br>Body: {{body}}

  <p><form action="/articles/{{uri}}/edit" enctype="application/x-www-form-urlencoded" method="get"><input type="submit" value="EDIT"></p>
  </form>

{{/each}}