<h1>Article Information</h1>

{{#each data}}
  
  <br>Title: {{{title}}}
  <br>Author: {{author}}
  <br>Body: {{body}}

  <p><form action="/articles/{{id}}/edit" method="get"><input type="submit" value="EDIT"></p>
  </form>

{{/each}}