<h1>Article</h1>
{{!-- No data has to be passed in because html will be rendered before variables are read in --}}
<h4>
  Title: {{articles.item.title}}<br> 
  Body: {{articles.item.body}}<br>
  Author: {{articles.item.author}}<br>
</h4>

<p>
<form action="" method="get">
  <input type="submit" formaction="/articles/{{articles.item.title}}/edit" value="EDIT">
</form>